In [15]:
import pandas as pd
alunosDicionario = {'Nome':['Ricardo', 'Kleber', 'Pedro', 'Carlos'],
         'Nota':[4, 7, 5.5, 9],
         'Aprovado':['Não', 'Sim', 'Não', 'Sim']}

In [16]:
alunosDataFrame = pd.DataFrame(alunosDicionario)

In [17]:
display(alunosDataFrame)

      Nome  Nota Aprovado
0  Ricardo   4.0      Não
1   Kleber   7.0      Sim
2    Pedro   5.5      Não
3   Carlos   9.0      Sim

In [44]:
alunosdf = alunosDataFrame.loc[0:2]

In [46]:
display(alunosdf)

      Nome  Nota Aprovado
0  Ricardo   4.0      Não
1   Kleber   7.0      Sim
2    Pedro   5.5      Não

Variável recebendo dataframe anterior com modificações.

In [47]:
novoDF = alunosDataFrame.loc[alunosDataFrame['Nota']!=9]

In [48]:
display(novoDF)

      Nome  Nota Aprovado
0  Ricardo   4.0      Não
1   Kleber   7.0      Sim
2    Pedro   5.5      Não

In [49]:
alunosReprovados= alunosDataFrame.loc[alunosDataFrame['Aprovado']!='Sim']

In [50]:
display(alunosReprovados)

      Nome  Nota Aprovado
0  Ricardo   4.0      Não
2    Pedro   5.5      Não